<!DOCTYPE html>
<html>
  <head>
    <title>Snatch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav nav-tabs">
        <li><%= link_to "Snatch", root_path %></li>
        <li><%= link_to "Options", options_path %></li>
        <li><%= link_to "Link", '/auth/spotify' %></li>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
